/*
Project: KDG Web Technology 1 Project Webwinkel
Omschrijving: Een project voor het examen van periode 1
Auteur: Seppe Gadeyne - seppe.gadeyne@student.kdg.be 
Auteur URL: https://www.linkedin.com/in/seppegadeyne/
Versie: 1.0
*/

/* ************************************************************* */
/* A. GLOBALE INSTELLINGEN OP ELKE PAGINA                        */
/* ************************************************************* */
/* 1. Algemene instellingen                                      */ 
/* 2. Hoofd lay-out van de pagina gebruik makend van Grid Layout */
/* 3. Header omvat logo, navigatie en billboard                  */
/* 4. Footer                                                     */
/* ************************************************************* */
/* B. HOMEPAGINA CSS                                             */
/* ************************************************************* */
/* C. PRODUCTEN PAGINA CSS                                       */
/* ************************************************************* */
/* D. CONTACT PAGINA CSS                                         */
/* ************************************************************* */
/* E. FAQ PAGINA CSS                                             */
/* ************************************************************* */
/* F. BLOG PAGINA CSS                                            */
/* ************************************************************* */



/* ************************************************************* */
/* A. GLOBALE INSTELLINGEN OP ELKE PAGINA                        */
/* ************************************************************* */
/* 1. Algemene instellingen                                      */
/* ************************************************************* */
/* Globale instellingen tekst en scherm                          */
/* ************************************************************* */
html, body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333333;
}
article a {
    color: #333333;
    border-bottom: 1px solid #333333;
}
article a:hover {
    color: #0099cc;
    border-bottom: 1px solid #0099cc;
}
p {
    line-height: 1.75rem;
}
ol, ul {
    line-height: 1.7rem;
}
/* Titels algemene instellingen                                  */
/* ************************************************************* */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: #333333;
    margin: 1rem 0 0.5rem 0;
    letter-spacing: 0.01rem;
    line-height: 1.5rem;
    text-transform: uppercase;

}
/* Knoppen en formulieren                                        */
/* ************************************************************* */
.fields {
    font: 400 1rem Helvetica;
    padding: 0.5rem;
    border: 1px solid #cccccc;
}
input[type="submit"],
.button {
    font-size: 0.85rem;
    color: white;
    background: #002f41;
    text-transform: uppercase;
    padding: 1rem 1.4rem;
    cursor: pointer;
    transition: background-color 500ms;
    letter-spacing: 0.02rem;
    border: 0;
}
.wide {
    width:100%;
}
input[type="submit"]:hover,
.button:hover {
    color: white;
    background: #0099cc;
    margin: 0;
    transition: background-color 500ms;
}
.button-transparent {
    font-size: 0.85rem;
    color: white;
    text-transform: uppercase;
    border-bottom: 4px solid white;
    padding: 0.6rem 0;
    cursor: pointer;   
    letter-spacing: 0.02rem;
}
.button-transparent:hover {
    color: #002f41;
    border-bottom: 4px solid #002f41;
}
/* Helpers                                                       */
/* ************************************************************* */
.hide {
    position: absolute;
    width: 1px;
    height: 1px; 
    overflow: hidden;
    left: -10000px;
}


/* ************************************************************* */
/* 2. Hoofd lay-out van de pagina gebruik makend van Grid Layout */
/* ************************************************************* */
/* Hoofd lay-out declaratie van de hoogte van de rijen           */
/* navigatie, billboard, pagina en footer                        */
/* ************************************************************* */
@media only screen and (min-width: 720px) {
    .page-with-billboard {
        display: grid; 
        grid-template-rows: 75px 400px 1fr 250px;
    }
    .page-without-billboard {
        display: grid; 
        grid-template-rows: 75px 1fr 250px;
    }
}
@media only screen and (max-width: 720px) {
    .page-with-billboard {
        display: grid; 
        grid-template-rows: 150px 400px 1fr 250px;
    }
    .page-without-billboard {
        display: grid; 
        grid-template-rows: 150px 1fr 250px;
    }
}
/* Hoofd lay-out van de  Grid Layout, de kolom instellingen      */
/* ************************************************************* */
@media only screen and (min-width: 720px) {
    body > header,
    body > main,
    body > footer {
        display: grid;
        grid-template-columns: 4vw minmax(min-content, 1400px) minmax(4vw, 1fr);
    }
    body.blog > main {
        grid-template-columns: 4vw minmax(min-content, 1150px) 250px minmax(4vw, 1fr);
    }
}
@media only screen and (max-width: 720px) {
    body > header,
    body > main,
    body > footer {
        display: grid;
        grid-template-columns: 4vw 1fr 4vw;
    }
    body.blog > main > aside {
        display: none;
    }
}
/* Links en rechts van de gebieden met content is een witspatie */
body > header > section,
body > footer > section,
body > main > aside, 
body > main > article {
    grid-column-start: 2;
    grid-column-end: 3;
}
body > main > aside {
    margin: 2rem 0 0 0;
}
body > main > article {
    margin: 2rem 0;
}
body.blog > main > aside {
    grid-column-start: 3;
    grid-column-end: 4;
}
/* Indien toegepast op een section of article is heel de breedte beschikbaar voor content */
.hero {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
}


/* ************************************************************* */
/* 3. Header omvat logo, navigatie en billboard                  */
/* ************************************************************* */
/* Opmaak Grid lay-out voor de navigatie                         */
/* ************************************************************* */
@media only screen and (min-width: 720px) {
    .navigation section {
        grid-column-start: 2;
        grid-column-end: 4;

        display: grid;
        grid-template-columns: 200px 1fr 75px;
    }
    .shopping-cart {
        justify-self: center;
    }
}
@media only screen and (max-width: 720px) {
    .navigation section {
        grid-column-start: 1;
        grid-column-end: 4;

        display: grid;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
    .shopping-cart {
        display: none;
    }
}
/* Uitlijning logo, navigatie en winkelmand */
@media only screen and (min-width: 720px) {
    .navigation section > a, 
    .navigation section > nav {
        align-self: center;
    }
}
@media only screen and (max-width: 720px) {
    .navigation section > a, 
    .navigation section > nav {
        align-self: end;
    }
}
.page-without-billboard > .navigation {
    box-shadow: 0 1px 10px rgba(0,0,0,0.10);
}

/* Opmaak van het hoofdmenu met geneste Flexbox                  */
/* ************************************************************* */
.menu {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 75px;
}
/* Kleur instellingen links in het hoofdmenu */
.menu a {
    color: #333333;
}
/* Lay-out hoofdmenu items */
.menu > li {
    align-self: flex-end;
    padding: 20px; 
    cursor: pointer;
}
@media only screen and (max-width: 400px) {
    .menu > li {
        padding: 20px 15px;
    }
}
@media only screen and (max-width: 350px) {
    .menu > li {
        padding: 20px 10px;
    }
}
/* Instellen witte boord, geen nut maar anders verspringd de hoogte van de menu items bij hover */
.menu > li {
    border-bottom: 2px solid white;
}
/* Stel hover effect in op het hoofdmenu */
.menu > li:hover {
    color: #0099cc;
    border-bottom: 2px solid #0099cc;
}
/* Hover kleur voor tekst hoofdmenu */
.menu > li:hover a {
    color: #0099cc;
}
/* Huidige pagina hoofdmenu instellingen */
.menu > li.active {
    color: #0099cc;
    border-bottom: 2px solid #0099cc;
}

/* Opmaak submenu welke volledige breedte omvat met Flexbox      */
/* ************************************************************* */
.menu > li > ul {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    top: 75px;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0 1px 10px rgba(0,0,0,0.10);
    transition: max-height 500ms;
}
/* Submenu laten verschijnen, max-height staat zo groot vanwege ondersteuning voor klein scherm */
.menu > li:hover > ul {
    max-height: 1296px;
    transition: max-height 1000ms;
}
@media only screen and (max-width: 720px) {
    .menu > li > ul {
        top: 150px; 
    }
}
/* Lay-out van de categorieën in het submenu */
.menu > li > ul > li {
    display: flex;
    flex-direction: column;

    justify-content: center;
    flex-grow: 1;
    text-align: center;
    padding: 20px 0;
}
/* Achtergrondkleur categorie 1 van het submenu */
.menu > li > ul > li:nth-child(1) {
    background: #e3e3e3;
}
/* Achtergrondkleur categorie 2 van het submenu */
.menu > li > ul > li:nth-child(2) {
    background: #e5f7f8;
}
/* Achtergrondkleur categorie 3 van het submenu */
.menu > li > ul > li:nth-child(3) {
    background: #c3c8c9;
}
/* Plaats afbeeldingen in het submenu mooi naast elkaar */
.menu > li > ul > li > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}
/* Titels van de categorieën in het submenu */
.menu h4 {
    font-weight: 600;
    margin-bottom: 1.2rem; 
    text-transform: uppercase;
    font-size: 0.90rem;
}
/* Fix voor kleur van de tekst in het submenu */
.menu > li:hover > ul > li a {
    color: #333333;
}
/* Spatie van tekst onder foto in het submenu */
.menu figcaption {
    margin-top: 0.5rem;
}
/* Hover kleur van submenu tekst */ 
.menu > li > ul > li > ul > li:hover a {
    color: #0099cc;
}

/* Hero billboard                                                */
/* ************************************************************* */
@media only screen and (min-width: 720px) {
    .billboard {
        background: #eadfdd url("../media/versa2-fall-2019-bg.jpg") no-repeat center;
        box-shadow: 0 1px 10px rgba(0,0,0,0.10);
    }
}
@media only screen and (max-width: 720px) {
    .billboard {
        background: #eadfdd url("../media/versa2-fall-2019-bg-mobile.jpg") no-repeat center;
        box-shadow: 0 1px 10px rgba(0,0,0,0.10);
    }
}
/* Lay-out call to action in het billboard */
.billboard section {
    align-self: center;
    max-width: 310px;
    font-size: 1.1rem;
}
.billboard h2 {
    font-size: 3rem;
    text-transform: lowercase;
}


/* ************************************************************* */
/* 4. Footer                                                     */
/* ************************************************************* */
.footer {
    background: #f5f5f5;
}

.footer section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer p, 
.footer p > a {
    font-size: 0.75rem;
    margin: 0;
    color: #999999;
    padding: 0.25rem 0 0.25rem 0;
}
.footer p > a {
    border-bottom: 2px solid #999999;
}
.footer p > a:hover {
    color: #0099cc;
    border-bottom: 2px solid #0099cc;
}
.footer .menu-footer {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;   
}
.footer .menu-footer li {
    margin: 0;
    padding: 0 1rem 0 0;
}
.footer .menu-footer a {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: #999999;
}
.footer .menu-footer a:hover {
    color: #0099cc;
    border-bottom: 2px solid #0099cc;
}
.footer .social-media {
    display: flex;
    list-style: none;
    margin: 0 0 0.5rem 0;
    padding: 0;
}
.footer .social-media li {
    margin: 0 2rem 0 0;
    padding: 0;
}
.footer .social-media img {
    height: 30px;
    opacity: 0.25;
}


/* ************************************************************* */
/* B. Homepagina CSS                                             */
/* ************************************************************* */

.home .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.home .flex-container > section {
    box-sizing: border-box;
    flex-grow: 1;
    margin: 0.5rem;
    padding: 3rem;
    color: white;
    font-size: 1.1rem;
}
@media only screen and (max-width: 720px) {
    .home .flex-container > section {
        padding: 1rem;
    }
}
.home .flex-container > section h2 {
    color: white; 
}
.home .flex-container > section:nth-of-type(1) {
    flex-basis: 100%;
    background: url('../media/why-fitbit-bg.jpg') right no-repeat;
    background-size: 100%;
    transition: background-size 500ms;
}
.home .flex-container > section:nth-of-type(1):hover {
    background: url('../media/why-fitbit-bg.jpg') right no-repeat; 
    background-size: 110%;
    transition: background-size 500ms;
} 
@media only screen and (max-width: 920px) {
    .home .flex-container > section:nth-of-type(1),
    .home .flex-container > section:nth-of-type(1):hover {
        background: #002f41;
    }
}
.home .flex-container > section:nth-of-type(2) {
    flex-basis: 55%;
    background: #00B0B9 url('../media/wat-is-fitbit-bg.jpg') right no-repeat;
}
.home .flex-container > section:nth-of-type(2) p {
    max-width: 75%;
}
@media only screen and (max-width: 760px) { 
    .home .flex-container > section:nth-of-type(2) {
        background: #00B0B9;
    }

    .home .flex-container > section:nth-of-type(2) p {
        max-width: 100%;
    }
}
.home .flex-container > section:nth-of-type(3) {
    flex-basis: 40%;
    background: #0099cc url('../media/fitbit-personaliseer.png') right bottom no-repeat;
}
@media only screen and (max-width: 760px) {
    .home .flex-container > section:nth-of-type(3) {
        background: #0099cc;
    }
}
.home .flex-container > section:nth-of-type(3) p {
    max-width: 440px;
}



/* ************************************************************* */
/* C. PRODUCTEN PAGINA'S CSS                                     */
/* ************************************************************* */

.shop aside > ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.shop aside > ul li {
    margin: 0.5rem 0.5rem;
    padding: 0 0.75rem;
}
.shop aside > ul li a,
.shop aside > ul li {
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: bold;
    color: #333333;
}
.shop aside > ul > .filter-active {
    background: #002f41;
}
.shop aside > ul > .filter-active a,
.shop aside > ul > .filter-active {
    color: white;
}
.shop aside > ul > .submenu {
    margin-left: -0.75rem;
    background: #0099cc;
}
.shop .flex-container {
    display: flex;
    flex-wrap: wrap;
}
.shop .flex-container section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: #f9f9f9;
    margin: 0.5rem 0.5rem;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 220px;
}
.shop .flex-container section a {
    border-bottom: 0;
}
.shop .flex-container section img {
    width: 100%;
} 
.shop .flex-container header {
    padding: 20px;
    flex-grow: 1;
    text-align: center;
}
.shop .flex-container h3 {
    line-height: 1.75rem;
    margin: 0 0 0.5rem;
}
.shop .flex-container header > p {
    font-size: 0.85rem;
    font-weight: bold; 
    text-transform: uppercase;
    line-height: 1.5rem;
    margin: 0.5rem 0;
}
.shop .flex-container a {
    align-self: stretch;
    text-align: center;
}
.shop hr {
    width: 5vw;
    margin: 2rem 0;
    border: 3px solid #002f41;
}
.shop .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
.shop .grid-container section {
    background: #f9f9f9;
    padding: 2rem;
    overflow: hidden;
}
.shop .grid-container form {
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-gap: 1rem;
}
@media only screen and (max-width: 760px) {
    .shop .grid-container {
        grid-template-columns: 1fr;
    }
    .shop .grid-container section {
        padding: 1rem;
    }
    .shop .grid-container form {
        width: 95%;
    }
}
.shop .grid-container img {
    width: 100%;
}
.shop .grid-container input[type="submit"] {
    grid-column-start: span 2;
}
.shop .columns {
    column-count: 3;
    column-gap: 2rem;
    font-size: 0.9rem;
    color: #666666;
}
@media only screen and (max-width: 720px) {
    .shop .columns {
        column-count: 1;
    }
}



/* ************************************************************* */
/* D. CONTACT PAGINA CSS                                         */
/* ************************************************************* */

.contact .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 1rem;
}
.contact .grid-container > header {
    grid-column-start: span 2;
}
.contact .grid-container form label {
    display: none;
}
.contact .grid-container form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
@media only screen and (max-width: 960px) {
    .contact .grid-container > header {
        grid-column-start: unset;
    }
    .contact .grid-container > header p {
        margin-bottom: 0;
    }
    .contact .grid-container {
        grid-template-columns: 100%;
    }
    .contact aside {
        margin-top: 0;
    }
}
.contact aside iframe {
    border: 0;
    padding: 0;
    margin: 0 0 -5px 0;
    width: 100%;
}



/* ************************************************************* */
/* E. FAQ PAGINA CSS                                             */
/* ************************************************************* */

.faq dl {
    display: flex;
    flex-direction: column;
}
.faq dt,
.faq dd {
    margin: 0;
    padding: 1rem 1rem;
    background: #f5f5f5;
    border: 1px solid #cccccc;
}
.faq dt {
    font-weight: 600;
}
.faq dd {
    border-top: 0;
    background: #fdfdfd;
    margin-bottom: 2rem;
}



/* ************************************************************* */
/* F. BLOG PAGINA CSS                                            */
/* ************************************************************* */

.blog .flex-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.blog .flex-container section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0 1rem 1rem 0;
    padding: 1.5rem;
    flex-grow: 1;
    min-width: 400px;
    background: #f5f5f5;
}
@media only screen and (min-width: 1230px) { 
    .blog .flex-container section {
        max-width: calc(50% - 1rem);
    }
}
.blog .flex-container figure {
    margin: 0;
}
.blog .flex-container figcaption {
    margin: 0.75rem 0;
    line-height: 1.5rem;
}
.blog .flex-container figure > a {
    border-bottom: 0;
}
.blog .flex-container section img {
    width: 100%;
} 
.blog .flex-container h4 {
    text-transform: unset;
    font-size: 1.70rem;
    line-height: 2rem;
    margin: 0 0 1rem;
}
.blog .flex-container a {
    align-self: stretch;
    text-align: center;
}
.blog aside section {
    background: #fdfdfd;
}
.blog aside section h3 {
    background: #f5f5f5;
    padding: 0.75rem 1rem;
}
.blog aside section form {
    padding: 1rem;
}
.blog aside section form label {
    display: none;
}
.blog aside section form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
.blogpost article h2 {
    text-transform: unset;
    font-size: 2rem;
    line-height: 2.25rem;
}
.blogpost article figure {
    margin: 2rem 0;
}
.blogpost article img {
    width: 100%;
}
.blogpost article {
    column-count: 2;
    column-gap: 4rem;
}
@media only screen and (max-width: 760px) { 
    .blogpost article {
        column-count: unset;
    }
}
.blogpost article q {
    font-style: italic;
}
.blogpost hr {
    width: 5vw;
    margin: 2rem 0;
    border: 3px solid #002f41;
}
.blogpost article footer:first-of-type {
    margin-top: 2rem;
    font-style: italic;
    font-size: 0.90rem;
    color: #666666;
    line-height: 1.5rem;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    padding: 1rem 1.5rem;
}
.blogpost article footer.author {
    font-size: 0.90rem;
}
.blogpost article footer.author p {
    margin-top: 0;
}
.blogpost article footer.author {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 1rem;
    align-items: center;

}
.blogpost article footer.author img {
    width: 100%;
    border-radius: 50%;
}



/* ************************************************************* */
/* G. WINKELMAND                                                 */
/* ************************************************************* */

.basket table {
    font-family: Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}
.basket td, th {
    border: 1px solid #cccccc;
    text-align: left;
    padding: 0.5rem;
}
.basket td a {
    border: 0;
}
.basket tr:nth-child(even) {
    background-color: #f5f5f5;
}
.basket tr {
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
.basket .grid-cell {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    border: 0;
}
.basket .grid-cell img {
    width: 100%;
}
/* Geen tijd om volledig responsieve winkelmand uit te werken */
@media only screen and (max-width: 760px) { 
    .basket .grid-cell img,
    .basket .grid-cell ul {
        display: none;
    }
}
.basket input[type="number"] {
    width: 2rem;
}
.basket tfoot td {
    text-align: right;
    font-weight: bold;
}
.basket .align-right {
    text-align: right;
    width: 100%;
}