/*
Project: KDG Web Technology 1 Project Webwinkel
Omschrijving: Een project voor het examen van periode 1
Auteur: Seppe Gadeyne
Auteur URL: https://www.linkedin.com/in/seppegadeyne/
Versie: 1.0
*/

/*
Website mag maximum 10MB zijn gezipt
Favicon toevoegen
*/

/* Algemeen */
/* -------- */
body {
    margin: 0px;
    font-family: "proxima-nova", sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    color: #333333;
}


/* Header */
/* ------ */
@media (max-width: 575px) {
    #header.grid-container {
        display: grid;
        grid-template-columns: auto;
    }

    #header #logo {
        margin-top: 25px;
        margin-bottom: 0px;
        text-indent: -9999px;
        background: url('../media/fitbit-logo.svg') no-repeat center;
        background-size: 140px;
    }

    #header #navigation {
        text-align: center;
    }

    #header #navigation ul li {
        display: inline-block;
        padding: 10px;
        margin: 0px;
    }

    #header #billboard {
        padding: 100px 0px 0px 4%;
        height: 320px;
        background: #eadfdd url("../media/versa2-fall-2019-bg-mobile.jpg") no-repeat center;
    }
}
@media (min-width: 576px) {
    #header.grid-container {
        display: grid;
        grid-template-columns: 228px auto;
    }

    #header #logo {
        margin: 0px;
        text-indent: -9999px;
        background: url('../media/fitbit-logo.svg') no-repeat center;
        background-size: 114px;
    }

    #header #navigation ul li {
        display: inline-block;
        padding: 15px;
        margin: 0px 15px 0px 15px;
    }

    #header #billboard {
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 100px 0px 0px 4%;
        height: 320px;
        background: #eadfdd url("../media/versa2-fall-2019-bg.jpg") no-repeat center;
    }
}

#header #navigation {
    margin: 15px 0px 0px 0px;
}
#header #navigation h2, h3 {
    display: none;
}

#header #navigation ul {
    list-style: none;
    margin: 0px;
    padding: 0px 0px 0px 15px;
}

#header #navigation ul li:hover {
    border-bottom: 2px solid #0099cc;
}

#header #navigation ul li.active {
    border-bottom: 2px solid #0099cc;
}

#header #navigation a {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #999999;
}

#header #navigation a:hover {
    text-decoration: none;
    color: #0099cc;
}

#header #navigation a.active {
    color: #0099cc;
}

#header #billboard h2,
#header #billboard p {
    max-width: 315px;
}

#header #billboard h2 {
    font-size: 46px;
    font-weight: 300;
    margin-bottom: -15px;
}

#header #billboard p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}


/* Lettertypen */
/* ----------- */

/* Headlines */
h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #222222;
}


/* Buttons */
/* ------- */
input[type="submit"],
.button {
    font-size: 14px;
    color: #ffffff;
    background: #002a3a;
    text-transform: uppercase;
    border-radius: 25px;
    border: 3px solid #002a3a;
    padding: 8px 25px 8px 25px;
    cursor: pointer;
}

input[type="submit"]:hover,
.button:hover {
    color: #333333;
    background: transparent;
}




/* Footer */
/* ------ */