/*
Project: KDG Web Technology 1 Project Webwinkel
Omschrijving: Een project voor het examen van periode 1
Auteur: Seppe Gadeyne
Auteur URL: https://www.linkedin.com/in/seppegadeyne/
Versie: 1.0
*/

/*
Website mag maximum 10MB zijn gezipt
Favicon toevoegen
*/

/* Algemeen */
/* -------- */
body {
    margin: 0px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #333333;
}


/* Header */
/* ------ */
#header {
    height: 50px;
    padding: 10px;
    background: limegreen;
    overflow: hidden;
}

#header .logo {
    display: inline-block;
    margin: 5px 0px;
    height: 40px;
    width: 228px;
    text-indent: -9999px;
    background: url('../media/fitbit-logo.svg') no-repeat;
}

#header #navigation nav {
    display: inline-block;
    float: left;
}

#header #navigation h2, h3 {
    display: none;
}

#header #navigation ul {
    display: inline-block;
}

#header #navigation ul li {
    float: left;
}


/* Lettertypen */
/* ----------- */

/* Headlines */
h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #222222;
}



/* Links */





/* Navigation */



/* Footer */
/* ------ */