/*
Project: KDG Web Technology 1 Project Webwinkel
Omschrijving: Een project voor het examen van periode 1
Auteur: Seppe Gadeyne
Auteur URL: https://www.linkedin.com/in/seppegadeyne/
Versie: 1.0
*/

/* Lettertypen */

body {
    font-family: "proxima-nova", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 700;
    font-style: normal;
}
