/* Algemene instellingen */
/* --------------------- */
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
}


/* Hoofd lay-out van de pagina gebruik makend van Grid Layout */
/* ---------------------------------------------------------- */
header,
main,
footer {
    display: grid;
    grid-template-columns: minmax(10%, 1fr) minmax(min-content, 1400px) minmax(10%, 1fr);
}
header section,
footer section,
main article {
    grid-column-start: 2;
    grid-column-end: 3;
}
.hero {
    grid-column-start: 1;
    grid-column-end: 4;
}


/* Header omvat logo, navigatie en billboard */
/* ----------------------------------------- */
header:nth-of-type(1) { 
    color: white;
    grid-template-rows: 100px 400px;
    background: url('https://source.unsplash.com/random/1600x500') center;
}

header:nth-of-type(1) section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header:nth-of-type(1) section:nth-of-type(1) h2 {
    align-self: center;
}

header:nth-of-type(1) section:nth-of-type(1) nav {
    align-self: center;
    justify-self: right;
}

header:nth-of-type(1) section:nth-of-type(2) {
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    text-align: center;
}
header:nth-of-type(2) {
    background: lightcyan;
}


/* Main */
/* ---- */
main {
    background: lightsteelblue;
}


/* Footer */
/* ------ */
footer {
    grid-template-rows: 400px;
    background: lightblue;
}
footer section {
    align-self: center;
    justify-self: center;
}


/* Helpers */
/* ------- */
.hide {
    position: absolute;
    width: 1px;
    height: 1px; 
    overflow: hidden;
    left: -10000px;
}
